<html>
    <body>
    <h1>Form Validation</h1>
        <form method="post" action="ergebnis">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="names"/></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" name="ages"/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="addresss"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>